/* Estilos generales del Portfolio */
:root {
  /* Fondos para el Portfolio */
  --Background_general: rgb(7, 62, 59);
  /* Colores para el Portfolio  */
  --BlackOut: rgba(0, 0, 0, 0.35);
  --BlackOff: rgba(0, 0, 0, 0.55);
  --Oscuro: rgb(84, 11, 14);
  --MedioOscuro: rgb(158, 42, 43);
  --MedioClaro: rgb(244, 159, 62);
  --Claro: rgb(255, 243, 176);
  /* Box-shadows color */
  --BoxOscuro: rgba(84, 11, 14, .4);
  --BoxClaro: rgba(255, 243, 176, .4);
  --BoxGitHub: rgba(23, 21, 21, .4);
  --BoxTwitter: rgba(0, 172, 238, .4);
  --BoxLinkedIn: rgba(14, 118, 168, .4);
  /* Icons Color */
  --GitHub: rgb(23, 21, 21);
  --Twitter: rgb(0, 172, 238);
  --LinkedIn: rgb(14, 118, 168);
  /* Tipos de fuentes para el Portfolio */
  --Montserratserat: 'Montserrat', sans-serif;
  --Open_sans: 'Open Sans', sans-serif;
}

body {
  background-color: #073E3B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23003633' fill-opacity='0.72'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.72'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.contenido {
  display: flex;
  float: right;
  width: calc(100% - 20% - 4rem);
  padding: 2rem;
}

.rodapie {
  display: block;
  float: right;
  width: calc(100% - 20%);
  margin-top: .5rem;
  align-items: center;
  text-align: center;
}
